<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookingHall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>bookinghall.Controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDAO</display-name>
    <servlet-name>CustomerDAO</servlet-name>
    <servlet-class>dao.CustomerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDAO</servlet-name>
    <url-pattern>/CustomerDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>model.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>connection.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
</web-app>